@charset "utf-8";
/* CSS to Publisher pages */
#content_left{
	width:220px;
	height:auto;
	float:left;
	margin-top:10px;
	margin-bottom:20px;
}
#content_left_contact{
	width:auto;
	height:auto;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
	float:left;
	margin-top:50px;
	margin-bottom:20px;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
}
#content_right{
	width:780px;
	height:auto;
	background:#FFFFFF;
	float:left;
	margin-top:10px;
	margin-bottom:20px;
}
#content_right_contact{
	width:650px;
	height:300px;
	background:url(../images2/contactimg.png);
	background-repeat:no-repeat;
	background-position:center;
	float:left;
	margin-top:50px;
	margin-left:20px;
	margin-bottom:20px;
}
#content_right_welcome{
	width:430px;
	height:330px;
	float:left;
	padding-left:10px;
	padding-right:10px;
	line-height:18px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	border-right:1px solid #999999;
}
#content_right_mainimage{
	width:317px;
	height:330px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	padding-left:10px;
	color:#0033FF;
	float:left;
}
#content_right_latest{
	width:780px;
	height:auto;
}
#content_right_products{
	width:780px;
	height:auto;
}
#pub_title{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#666666;
	margin-left:5px;
}
#pub_services{	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#666666;
	margin-left:5px;
}
.productshow{
	width:220px;
	height:240px;
	background:#CCCCCC;
	float:left;
	margin-left:25px;
	margin-bottom:20px;
	border:1px solid #0066FF;
}
.protitle{
	width:220px;
	height:25px;
	background:url(../images/protitle.jpg);
}
.prpimage{
	width:220px;
	height:180px;
	background:#FFFFFF;
}
.proprice{
	width:220px;
	height:25px;
	background:url(../images/protitle.jpg);
}
.protitle, .proprice{
	padding-top:5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
}
.days{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#0066FF;
	margin:5px;
}
#classtbl2 th{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#666666;
}
#classtbl2 td{
	border-bottom:1px dotted #999999;
	padding-left:5px;
}
#classtbl2 th{
	border-bottom:1px solid #999999;
	padding-left:10px;
}
#classtbl2{
	padding:0px;
	width:700px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#0066FF;
	line-height:30px;
	border-top:1px solid #999999;
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
	background:url(../images/instimetable.jpg);
}
.contact_fill{
	width:150px;
	height:20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#333333;
	background:#FFFFFF;
}
.contactform{
	margin-top:20px;
}
#message{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	background:#FFFFFF;
}
#name{
	background:url(../images2/yourname.png);
	background-repeat:no-repeat;
}
#contact{
	background:url(../images2/yourcontact.png);
	background-repeat:no-repeat;
}
#message{	
	background:url(../images2/yourmsgs.png);
	background-repeat:no-repeat;
}
#btnsend{
	width:100px;
	height:30px;
	background:#aec5e8;
	border:1px solid #5c99f6;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#333333;
}
#btnsend:hover{
	width:100px;
	height:30px;
	background:#F7F7F7;
	border:1px solid #0c49a5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#333333;
}















